<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>IAM Web Application</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>fr.tbr.iam.web.servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyDelete</servlet-name>
		<display-name>ModifyDelete</display-name>
		<description></description>
		<servlet-class>fr.tbr.iam.web.servlets.ModifyDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyDelete</servlet-name>
		<url-pattern>/ModifyDelete</url-pattern>
	</servlet-mapping>

</web-app>
